body {
    margin: 0px 30px;
	font-size: 13px;
	font-family: Verdana, Arial;
	color: darkblue;
	background: #fff;
}

.login {
    border: 1px solid #d32c47; 
    width: 270px;
    padding: 5px;
}

.loginbtn {
	padding-right: 10px; 
	padding-left: 10px; 
	padding-bottom: 3px; 
	padding-top: 3px;
	
	border-right: #6a6a6a 1px solid; 
	border-top: #fff 1px solid; 
	border-left: #fff 1px solid;
	border-bottom: #6a6a6a 1px solid; 
	
    font-size: 14px; 
	background: #d32c47; 
	cursor: pointer; 
	color: #fff; 
	height: 25px
}