body {
    margin: 0px;
	font-size: 13px;
	font-family: Verdana, Arial;
	background: #fff;
	/* color: darkblue; */
}

.home_header {
    background-color: #3b5998; 
    width: 790px; 
    height: 32px;
    padding-left: 10px;
}

.home_cont {
    padding: 10px;
    width: 790px; 
    border: 0px solid #3b5998;
    text-align: left;
}

.home_left {
    float: left; 
    width: 73%;
    border: 0px solid #3b5998;
}

.home_right {
    float: right; 
    width: 25%;
    border: 0px solid #3b5998;
}

.home_bottom {
    margin-top: 20px;
    background-color: #0A0000;
    padding: 5px;
    border: 1px solid #B5B5B5;
    width:790px;
}

.home_bottom a {
    padding-right: 10px;
    color: #ffffff;
    text-decoration: none;
}

.home_bottom a:hover {
    font-weight: bold;
	text-decoration: none;
}

.btn {
	padding-right: 5px; 
	padding-left: 5px; 
	padding-bottom: 3px; 
	padding-top: 3px;
	
	border-right: #6a6a6a 1px solid; 
	border-top: #fff 1px solid; 
	border-left: #fff 1px solid;
	border-bottom: #6a6a6a 1px solid; 
	
    font-size: 14px; 
	background: #3b5998; 
	cursor: pointer; 
	color: #fff; 
	height: 23px
}

.home_header a {
    padding-right: 9px; 
    padding-left: 9px;
    padding-bottom: 7px;
    padding-top: 9px;
    display: block; 
    float: left; 
    margin: 0px 1px 0px; 
	color: #fff; 
	text-decoration: none; 
	/* oz-outline-style: none */
}

.home_header a:hover {
    color: #3b5998;
    font-weight: bold;
    background-color: #d8dfea;
	text-decoration: none;
}

/* Tab style */
.tab {
    padding-left: 5px;
    margin: 0px;
    border-bottom: 1px solid #D8DFEA; /* #D8DFEA; */
    height: 23px;
    display: block;
}

.tab li { 
    padding: 0;
    margin: 1px;
    border: none;
    display: block;
    float: left;
    height: 18px;
    line-height: 18px;
    padding: 2px 20px;
    text-align: center;
    cursor:pointer;
    background-color: #D8DFEA;
}

.tab li.current {
    display: block;
    color: black;
    background-color: #fff;
    border-right: 1px solid #D8DFEA;
    border-left: 1px solid #D8DFEA;
    border-top:1px solid #D8DFEA; 
    padding:2px 20px;
}

.tab li.hover {
    display: block;
    color: #fff;
    background-color: #3b5998;
    border-right: 1px solid #3b5998;
    border-left: 1px solid #3b5998;
    border-top:1px solid #3b5998; 
    padding:2px 20px;
}
.hidden { 
    display:none;
}
.show { 
    display:block;
}

.title {
	background: url(../images/title.gif) repeat-x; 
	filter: progid:DXImageTransform.Microsoft.Chroma(color= #ffffff); 
	color: darkblue;
	height: 20px;
	padding-top:5px;
	padding-left:5px;
}

.title .image {
    filter : progid:DXImageTransform.Microsoft.Chroma( color= #ffffff); 
}

.time {
    text-align: right;
	color: #3b5998;
}

.headerimg {
    background: url(../images/frame.gif) no-repeat; 
    padding-top: 5px; 
    padding-left: 11px;
    height:81px; 
    width: 86px;
}

#topnav_menu {
    background-color:#ADB662;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    padding-top: 30px;
}

#topnav a {
   color: White;
   text-decoration: none;
}

#topnav a:hover {
   text-decoration: underline;
}

#sidebar {
   width: 140px;
   margin: 0px;
   padding: 10px;
   text-align: left;
}

#sidebar h3 {
   margin: 0px;
   padding: 4px 2px 2px 4px;
   font-size: 12px;
   font-weight: bold;
   color: White;
   background-color: #8FAEBE;
   border-bottom: 1px solid #ffffff;
}

#sidebar ul {
   margin: 0px;
   padding: 1px;
   list-style-type: none;
   background-color: #8FAEBE;
}

#sidebar li {
   margin: 0px;
   padding: 2px 2px 2px 8px;
   background-color: White;
   border-bottom: 1px solid #8FAEBE;
}

#sidebar li.selected {
   font-weight: bold;
}

#sidebar li a {
   color: #3F658C;
   text-decoration: none;
}

#sidebar h3 a {
   color: White;
   text-decoration: none;
}

#sidebar a:hover {
   text-decoration: underline;
}

#content {
    float: left;
    margin: 2px 10px 10px 10px;
    padding: 0px;
    font-size: 12px;
    text-align: left;
    color: Black;
    width: 95%;
}

#content h3 {
   font-size: 16px;
   font-weight: bold;
   color: #006600;
   padding: 8px 0px 8px 0px;
   margin: 0px;
}

#content table.form {
   border-top: 1px solid #cccccc;
   border-left: 1px solid #cccccc;
   border-right: 1px solid #666666;
   border-bottom: 1px solid #666666;
   background-color: #eeeeee;
}

#content table.form td {
   padding: 2px 2px 2px 8px;
   font-size: 12px;
   color: Black;
   border-bottom: 1px solid #eeeeee;
}

.btn {
	padding-right: 5px; 
	padding-left: 5px; 
	padding-bottom: 3px; 
	padding-top: 3px;
	
	border-right: #6a6a6a 1px solid; 
	border-top: #6a6a6a 1px solid; 
	border-left: #6a6a6a 1px solid;
	border-bottom: #6a6a6a 1px solid; 
	
    font-size: 10px; 
    background: #3b5998;
	cursor: pointer; 
	color: #fff; 
	height: 23px
}

.memberblock {
   padding: 2px 2px 2px 8px;
   font-size: 13px;
}

.membername {
    color:#000000; 
    font-weight:bold; 
    font-size:14px
}

.itemseperator {
    color:lightblue; 
    height:1px;
    width:300px;
}

.memberitem {
    text-align: right;
    color:#808080;
    padding-right:6px;
}

.memberinfo {
    color:#336699;
}